body {
    background-color: rgb(23, 216, 206);
    /* background-image: url("https://source.unsplash.com/LSZfNPVZjTw"); */
    text-align: center;
    
}

h1 {
    color: crimson;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
}
.paraclass {
    font-size: 30px;
    color: sienna;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}
ul li{
    float: right;
    padding-right: 50px;
}